.homeContainer {
  display: flex;
  background: linear-gradient(to top, #00e1ff 0%, #00246d 100%);
  color: wheat;
  height: calc(100vh - 70px);
  .left {
    flex: 4;
    border-right: 2px solid #00246d;
    padding: 20px 30px;
    .combo {
      display: flex;
      flex-direction: column;
      .title {
        margin-bottom: 20px;
        border-left: 8px solid #00e1ff;
        font-family: "Times New Roman", Times, serif;
        font-size: 20px;
        // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 0.5px;
        color: white;
        -webkit-text-fill-color: #ffffff;
        -webkit-text-stroke-color: rgb(161, 14, 14);
        position: relative;
        .more {
          font-size: 15px;
          background-color: #ffffff;
          color: black;
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 10px;
        }
      }
      .movieList {
        display: flex;
        flex-direction: column;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        .movie {
          width: 251px;
          border-bottom: 1px solid #00246d;
          height: 230px;
          margin-right: 5px;
          cursor: pointer;
          position: relative;
          .movieImage {
            width: 250px;
            height: 140px;
            border: 0.5px solid rgb(255, 255, 255);
            object-fit: cover;
            border-radius: 15px 0 15px 0;
            &:hover {
              scale: 1.1;
            }
          }
          .movieTitle {
            font-size: 18px;
            color: black;
            font-weight: 500;
            text-align: right;
            font-weight: 700;
            letter-spacing: 1px;
            width: 100%;
            text-overflow: unset;
          }
          .rating {
            color: #00246d;
            position: absolute;
            right: 0px;
          }
        }
      }
    }
  }
  .right {
    flex: 2;
    background-color: #00000088;
    .rightContainer {
      padding: 20px;
      .title {
        margin-bottom: 20px;
        border-left: 8px solid #00e1ff;
        font-family: "Times New Roman", Times, serif;
        font-size: 20px;
        // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 0.5px;
        color: white;
        -webkit-text-fill-color: #ffffff;
        -webkit-text-stroke-color: rgb(161, 14, 14);
      }
      .rightMovies {
        width: 100%;
        .listItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 15px;
          border-bottom: 2px solid yellow;
          cursor: pointer;
          .name {
            color: #000000;
            font-size: 18px;
            font-weight: 400;
            -webkit-text-stroke-width: 0.5px;
            color: white;
            -webkit-text-fill-color: #6e6161;
          }
          .raitings {
            font-size: 16px;
            color: yellow;
          }
        }
      }
    }
  }
}
