.data {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #00e1ff 0%, #00246d 100%);

  .image {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
  }

  .details {
    color: rgb(48, 68, 61);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 600px;
    height: 600px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    .title {
      font-weight: bold;
      color: rgb(14, 27, 27);
    }
  }
}
