<app-header></app-header>
<div class="data">
  <img src="{{ path }}{{ currentMovie.poster_path }}" alt="" class="image" />

  <div class="details">
    <h1 class="title">{{ currentMovie.original_title }}</h1>
    <p>original_language : {{ currentMovie.original_language }}</p>
    <p>overview : {{ currentMovie.overview }}</p>
    <p>release_date : {{ currentMovie.release_date }}</p>
    <p>popularity : {{ currentMovie.popularity }}</p>
    <p>vote_average : {{ currentMovie.vote_average }}/10</p>
  </div>
</div>
